* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(8, 8, 8, 0.84);
  font-family: sans-serif;
  font-weight: 700;
}

.container {
  /* max-width: 68.75rem; */
  max-width: 80%;
  max-height: 90vh;
  /* max-height: 50rem; */
  background-color: rgba(218, 223, 225, 0.7);
  margin: 0 auto;
  /* margin-top: 4vh; */
  margin-bottom: 4vh;
  border-radius: 0.625rem;
}

input {
  display: none;
}
.slider {
  /* max-width: 37.5rem; */
  max-width: 60%;
  max-height: 70vh;
  /* max-height: 37.5rem; */
  overflow: hidden;
  margin: 0 auto;
  /* padding-top: 3%; */
  background-color: white;
  border-radius: 0.75rem;
  margin-top: 1.25rem;
}

.slides {
  display: flex;
  width: 400%;
  max-height: 70vh;
  /* max-height: 37.5rem; */
}

.slide {
  width: 25%;
  transition: all 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

#radio1:checked ~ #slider .slide_one {
  margin-left: 0;
}

#radio2:checked ~ #slider .slide_one {
  margin-left: -25%;
}

#radio3:checked ~ #slider .slide_one {
  margin-left: -50%;
}

#radio4:checked ~ #slider .slide_one {
  margin-left: -75%;
}

.slides_buttons {
  display: flex;
}

.slides_box {
  display: flex;
  justify-content: space-between;
  /* margin-top: 3.125rem; */
  padding: 2rem;
}

.slider_text {
  width: 30rem;
  overflow: hidden;
}

.slider_text p {
  width: 30rem;
  /* margin-left: 3rem; */
  font-size: 1.875rem;
}

.slides_text {
  width: 400%;
  display: flex;
}

.btn {
  background-color: rgb(94, 94, 82);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-right: 0.6rem;
}

.btn:hover {
  background-color: blanchedalmond;
}

#radio1checked ~ #box .text_one {
  margin-left: 0;
}

#radio2:checked ~ #box .text_one {
  margin-left: -25%;
}

#radio3:checked ~ #box .text_one {
  margin-left: -50%;
}

#radio4:checked ~ #box .text_one {
  margin-left: -75%;
}

@media (max-width: 835px) {
  .slides_box {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .slider_text {
    text-align: center;
    margin-top: 0.94rem;
  }
  .slides_text p {
    font-size: 1.2rem;
  }
}
